In [32]:
print("hi")

hi

In [39]:
# print() automatically adds a \n to the end
x = 'hi'
print(x)
print(x)

hi
hi

In [19]:
# Integers
'''
Primitive Types
---------------

Integers


'''

'\nPrimitive Types\n---------------\n\nIntegers\n\n\n'

In [4]:
x = 1

In [6]:
x

1

In [7]:
type(x)

int

In [8]:
1 + 1

2

In [10]:
2 - 1

1

In [11]:
2 * 2

4

In [12]:
4 / 2

2.0

In [13]:
2.0

2.0

In [14]:
3 / 2

1.5

In [15]:
2 ** 3

8

In [17]:
10 % 3

1

In [28]:
"""
Strings
"""

'\nStrings\n'

In [31]:
"""Strings"""

'Strings'

In [21]:
'I am a string'

'I am a string'

In [22]:
mystr = 'I am another string'

In [23]:
type(mystr)

str

In [24]:
"I am double quoted string"

'I am double quoted string'

In [27]:
# use \ to escape ', but \ will remain in string
'I\'m double "quoted" string'

'I\'m double "quoted" string'

In [40]:
# String manipulations

In [41]:
name = "Ian"

In [42]:
greeting = "Hi, my name is "

In [43]:
greeting + name

'Hi, my name is Ian'

In [46]:
ending = ". Nice to meet you"

In [47]:
greeting + name + ending

'Hi, my name is Ian. Nice to meet you'

In [49]:
# String interpolation. templating
'Hi, my name is {}. Nice to meet you'.format(name)

'Hi, my name is Ian. Nice to meet you'

In [50]:
# String interpolation. templating
'Hi, my name is {}. Nice to meet you. My email is {}'.format(name, 'ianchen06@gmail.com')

'Hi, my name is Ian. Nice to meet you. My email is ianchen06@gmail.com'

In [51]:
# String interpolation. templating
'Hi, my name is {0}. People call me {0}. Nice to meet you. My email is {1}.'.format(name, 'ianchen06@gmail.com')

'Hi, my name is Ian. People call me Ian. Nice to meet you. My email is ianchen06@gmail.com.'

In [56]:
# String interpolation. templating
'Hi, my name is {name}. People call me {name}. Nice to meet you. My email is {mail}.'.format(
    name="Ian", mail='ianchen06@gmail.com')

'Hi, my name is Ian. People call me Ian. Nice to meet you. My email is ianchen06@gmail.com.'

In [60]:
# example log message
"[DEBUG] name is %s"%name

'[DEBUG] name is Ian'

In [ ]:
# Format spec
# https://docs.python.org/3/library/string.html#format-specification-mini-language

In [63]:
# decimal 2 places
'Money is {:.2f}'.format(1.99999)

'Money is 2.00'

In [65]:
'Money is %.2f'%(1.99999)

'Money is 2.00'

In [68]:
# String transformation

In [69]:
'harry potter'

'harry potter'

In [70]:
'harry potter'.title()

'Harry Potter'

In [71]:
'HaRRY PotteR'.lower()

'harry potter'

In [72]:
'HaRRY PotteR'.upper()

'HARRY POTTER'

In [79]:
internet_text = """

HI I am some text from the Internet, I am highly styled with white spaces...yay


      """

In [80]:
internet_text

'\n\nHI I am some text from the Internet, I am highly styled with white spaces...yay\n\n\n      '

In [84]:
# strip the white spaces....
internet_text.strip()

'HI I am some text from the Internet, I am highly styled with white spaces...yay'

In [82]:
internet_text.lstrip()

'HI I am some text from the Internet, I am highly styled with white spaces...yay\n\n\n      '

In [83]:
internet_text.rstrip()

'\n\nHI I am some text from the Internet, I am highly styled with white spaces...yay'

In [86]:
mycsv = 'Happy Potter,599,100,Penguin'

In [89]:
harry = mycsv.split(',')
harry

['Happy Potter', '599', '100', 'Penguin']

In [94]:
harry[1] = '999'
harry

['Happy Potter', '999', '100', 'Penguin']

In [95]:
",".join(harry)

'Happy Potter,999,100,Penguin'